        <h2>Über die App</h1>
        <p>Version: Beta</p>
        <h2>Über das Team</h2>
        <p>Die App wurde und wird am <a href=https://www.starkerstart.uni-frankfurt.de/38922940/Zentrum_Naturwissenschaften>Zentrum Naturwissenschaften</a> der Goethe Universität Frankfurt von einem größtenteils studentischen Team entwockelt </p>
        <h2>Ziele der App</h2>
        <p>Die Lernanwendung ist einerseits als "Standalone" zum Aneignen basaler Bestimmungsfertigkeiten geeignet. Der Hauptzweck ergibt sich in Verbindung mit dem botanischen Teil der Lehrveranstaltung "Diversität der Organismen". Die dort zu erlernende Artenliste ist hier in Steckbriefform aufgearbeitet, so dass die bestimmungsrelevanten Merkmale sofort erkannt und benannt werden können.</p>
        <h2>Unterstützung</h2>
        <p>Die Entwicklung der App wurde durch den eLearning-Förderfonds am Zentrum Naturwissenschaften in Zusammenarbeit mit dem Fachbereich Biowissenschaften und dem Wissenschaftsgarten der Universität entwickelt. Zudem danken wir dem Team von Physikonline für die Bereitstellung von Serverkapazitäten.</p>
        <hr>
        <h2>Lizenzinformation</h2>    
        <p>Angaben zu den Lizenzinformationen werden innerhalb der nächsten Updates zur Verfügung gestellt.</p>
        <p>Die Inhalte und Medien der App sind eine offene Bildungsressource und werden nach dem Major Release unter entsprechender Lizenz zur Verfügung stehen.</p>
        <p>Der Quellcode der Software ist unter <a href= https://github.com/zentrumnawi/solid-frontend>Github</a> verfügbar.</p>
        <hr>
        <h2>Impressum</h2>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Johann Wolfgang Goethe-Universität Frankfurt am Main</p>
        <p>Theodor-W.-Adorno-Platz 1</p>
        <p>60323 Frankfurt am Main</p>
        <p>Email: <a href=Mailto:elearning-znwk@uni-frankfurt>Div-e Team</a></p>
        <p></p>
        <p>Haftungsausschluss</p>
        <p>Diese Web-App enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <p>Urheberrecht</p>
        <p>Die Inhalte und Werke unterliegen deutschem Urheberrecht. Bitte beachten Sie die Lizenzinformationen, die dem Medien, Inahlten und Werken beigefügt sind. Bitte nutzen Sie das Feedback-Formular für Rückfragen.</p>
        <p>Die Datenschutzerklärung gemäß Art 13. EU DSGVO finden Sie <a href=https://zentrumnawi.github.io/solid-frontend/privacy>hier.</a></p>
