.type-icon {
  color: #757575;
  margin-right: 5px;
}

.thumbnail {
  height: 2em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.profile-link {
  cursor: pointer;
}

.profile-tree {
  grid-area: tree;
}

.content-container {
  display: grid;
  grid-template-areas: 'tree profile';
  grid-template-columns: 50% 50%;
}

.content-container.fullWidth {
  display: grid;
  grid-template-areas: 'tree' 'profile';
  grid-template-columns: 100%;
}

.profile-detail {
  grid-area: profile;
}

.selected {
  font-weight: bold;
}

img.hidden {
  display: none;
}

span.hidden {
  margin-left: 2.5em;
}

.category {
  font-weight: 500;
}
