:host {
  display: block;
  height: 100%; //calc(100% - 1rem);
  background-color: white;
}

mat-form-field {
  //padding: 0.5em;
  //grid-area: search;
  //grid-row: 1 / 1;
  max-width: 20em;
}

mat-icon.clear-filter {
  cursor: pointer;
}

div.content-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 64px 1fr;
  overflow: hidden;

  &.splitLayout {
    grid-template-areas: 'main-toolbar toolbar' 'view profile';
    grid-template-columns: 400px 1fr;
    grid-template-rows: 64px 1fr;
    max-height: 100%;

    mat-toolbar.detail-toolbar {
      grid-area: toolbar;
    }

    mat-toolbar.main-toolbar {
      grid-area: main-toolbar;
    }

    mat-toolbar.full-width {
      grid-column: main-toolbar / toolbar;
    }

    app-profile-detail {
      grid-area: profile;
      overflow-y: auto;
    }

    app-profile-tree,
    app-profile-grid,
    app-profile-list {
      grid-area: view;
      overflow-y: auto;

      &.full-width {
        grid-column: view / profile;
      }
    }
  }

  app-profile-tree,
  app-profile-list {
    grid-row: 2;
    overflow-y: auto;
  }

  mat-toolbar {
    grid-row: 1;
  }

  app-profile-detail {
    grid-row: 2;
    overflow-y: auto;
  }

  height: 100%;
}

