<h2>Über die App</h2>
<p>s.o.l.i.d. Version: {{ Version }}</p>
<div class="solid-logo">
  <img alt="Solid Logo" src="assets/info/Solid.svg" />
</div>
<p>
  Die App <b>GeoMat</b><i>digital</i> wurde und wird am
  <a
    class="info-link"
    href="http://www.starkerstart.uni-frankfurt.de/38922940/ZNWK"
    target="_blank"
    >Zentrum Naturwissenschaften</a
  >
  der
  <a class="info-link" href="http://www.uni-frankfurt.de"
    >Goethe-Universität Frankfurt</a
  >
  von einem größtenteils studentischen Team entwickelt.
</p>
<p>
  Von den Fotos der virtuellen Sammlung über die Gestaltung der Fachinhalte bis
  hin zur Programmierung der Software war der Einsatz von Studierenden und
  studentischen Hilfskräften maßgeblich.
</p>
<p>
  GeoMat ist der Ursprung des E-Learning-Projekts s.o.l.i.d. (Systematisch
  Objekte Lernen und IDentifizieren), das inzwischen eine weitere Grundlage für
  andere E-Learning-Anwendungen bildet. s.o.l.i.d. bietet eine Plattform für die
  strukturierte Darstellung von Objekten und bringt Bildmaterial und
  objekttypische Merkmale in übersichtlicher Form zusammen.
</p>

<h2>Ziele der App</h2>
<p>
  Die <em>Lernanwendung</em> GeoMat<em>digital</em> ist als Lernanwendung an die
  Lehrveranstaltung <em>Geomaterialien</em> am Institut für Geowissenschaften
  der Goethe-Universität angeschlossen.
</p>
<p>
  Das wesentliche Ziel dieser Lernanwendung liegt darin, die
  <em>Mineralansprache</em>
  und den Bestimmungsvorgang zu trainieren. Außerdem eignet sich die
  <em>virtuelle Sammlung</em> von GeoMat <em>digital</em> zum Lernen der
  Mineraleigenschaften.
</p>

<h2>Credits</h2>

<p>
  Die Entwicklung der App wurde durch den
  <a class="info-link" href="http://tinygu.de/elf" target="_blank"
    >eLearning-Förderfonds</a
  >
  (eLF) der Goethe-Universität Frankfurt am Zentrum Naturwissenschaften in
  Zusammenarbeit mit dem
  <a class="info-link" href="http://tinygu.de/ifg" target="_blank"
    >Institut für Geowissenschaften</a
  >
  am Fachbereich Geowissenschaften/Geographie realisiert.
</p>
<div class="logos">
  <div>
    <img alt="eLearning-Förderfonds Logo" src="assets/info/eLF.svg" />
  </div>
  <div>
    <img
      alt="Zentrum Naturwissenschaften Logo"
      src="assets/info/ZentrumNaWi.svg"
    />
  </div>
  <div>
    <img
      alt="Goethe-Universität Logo"
      src="assets/info/GoetheUniversitaet.svg"
    />
  </div>
</div>

<h2>Lizenzinformationen</h2>
<p>
  Angaben zu den Lizenzinformationen werden innerhalb der nächsten Updates zur
  Verfügung gestellt.
</p>
<p>
  Die bereitgestellten Medien sind eine offene Bildungsressource und werden als
  <a
    class="info-link"
    href="https://open-educational-resources.de/"
    target="_blank"
    >OER</a
  >
  unter entsprechender Lizenz für Bildungszwecke zur Verfügung stehen.
</p>
<p>Der Quellcode der Software ist auf Github veröffentlicht:</p>

<ul>
  <li>
    <a class="info-link" href="https://github.com/zentrumnawi/solid-frontend"
      >s.o.l.i.d. Frontend</a
    >
  </li>
  <li>
    <a class="info-link" href="https://github.com/zentrumnawi/geomat-backend"
      >GeoMat Backend</a
    >
  </li>
</ul>

<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG</p>
<p>
  Johann Wolfgang Goethe-Universität Frankfurt am Main<br />
  Theodor-W.-Adorno-Platz 1<br />
  60323 Frankfurt am Main<br />
  E-Mail:
  <a class="info-link" href="mailto:geomatdigital@dlist.uni-frankfurt.de"
    >GeoMat Team</a
  >
</p>
<h3>Haftungsausschluss:</h3>
<h4>Haftung für Links</h4>
<p>
  Diese Web-App enthält Links zu externen Webseiten Dritter, auf deren Inhalte
  wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
  keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
  jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
  Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
  überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
  erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
  jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
  Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
  entfernen.
</p>
<h4>Urheberrecht</h4>
<p>
  Die Inhalte und Werke unterliegen deutschem Urheberrecht. Bitte beachten Sie
  die Lizenzinformationen, die dem Medien, Inhalten und Werken beigefügt sind.
  Bitte nutzen Sie das Feedback-Formular für Rückfragen.
</p>

<h2>Kontakt & Feedback</h2>
<p>
  Für Rückmeldungen und Rückfragen nutzen Sie bitte das
  <a (click)="feedback.showDialog()" class="info-link">Kontaktformular</a>.
</p>
<p>Wir sind dankbar über alle Hinweise zur Verbesseung der Anwendung!</p>
<p>
  Die Datenschutzerklärung gemäß Art 13. EU DSGVO finden Sie
  <a class="info-link" href="/privacy">hier.</a>
</p>
