@use '@angular/material' as mat;
@import '../../theme';

:host {
  display: block;
  padding: 1rem;
}

.info-link,
.info-link:link,
.info-link:visited {
  text-decoration: underline;
  cursor: pointer;
  color: mat.get-color-from-palette($app-primary);
}

p {
  font-size: 14px;
}

.solid-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logos {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1400px) {
    justify-content: center;
  }
}
