# Add files here to ignore them from prettier formatting
**/environments/version.ts
coverage/**
dist/**
.idea/**
tmp/**
.vscode/**

# This file includes an unconventional way of defining an argument
title.service.ts 

tsconfig.base.json
nx.json
angular.json