@import '~@angular/material/theming';
@import '../../theme';

$themeColor: map-get($app-theme, accent);
$background: map-get($app-theme, background);

:host {
  display: block;
  padding: 1rem;
  height: calc(100% - 2rem);
}

mat-card {
  margin-bottom: 1.5rem;
}

mat-list {
  border: 1px solid mat-color($background, status-bar);
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

mat-list-item {
  margin-top: 0.5em;

  ::ng-deep {
    p {
      margin-block-end: 0;
    }

    h3.mat-line {
      padding-bottom: 0.5em;
    }
  }
}

mat-list-item:not(:first-child) {
  h3 {
    padding-top: 0.5em;
  }
}

mat-list-item:not(:last-child) {
  border-bottom: 1px solid mat-color($background, status-bar);
}

mat-grid-list {
  width: 23rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

mat-grid-tile {
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.05s linear 0.05s;

  ::ng-deep {
    figure.mat-figure {
      display: inline-flex;
      flex-direction: column;
      align-content: center;
    }
  }

  &:hover {
    background-color: mat-color($themeColor, lighter);
  }

  mat-icon {
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
  }
}
