<h2>Neuigkeiten</h2>
<mat-list>
  <mat-list-item *ngFor="let msg of Messages">
    <h3 matLine>
      {{ msg.title }}
      <span *ngIf="msg.validFrom"
        >&nbsp;|&nbsp;{{ msg.validFrom | date: 'dd.MM.yyyy' }}</span
      >
    </h3>
    <span [data]="msg.content" markdown matLine></span>
  </mat-list-item>
</mat-list>
<mat-grid-list cols="2" gutterSize="1rem" rowHeight="1:1">
  <mat-grid-tile [routerLink]="['/profile/tree']" class="mat-elevation-z2">
    <mat-icon svgIcon="profile"></mat-icon>
    <span>Steckbriefe</span>
  </mat-grid-tile>
  <mat-grid-tile
    [routerLink]="['/slideshow/determination']"
    class="mat-elevation-z2"
  >
    <mat-icon svgIcon="assistant"></mat-icon>
    <span>Bestimmungshelfer</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/system']" class="mat-elevation-z2">
    <mat-icon svgIcon="crystalsystem"></mat-icon>
    <span>Kristallsysteme</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/quiz']" class="mat-elevation-z2">
    <mat-icon svgIcon="quiz"></mat-icon>
    <span>Selbsttest</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/quiz']" class="mat-elevation-z2">
    <mat-icon svgIcon="quiz"></mat-icon>
    <span>Drag</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/info']" class="mat-elevation-z2">
    <mat-icon svgIcon="info2"></mat-icon>
    <span>Information</span>
  </mat-grid-tile>
  
</mat-grid-list>
