<ng-container *ngIf="Question">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ Question.tags.join(' ') }}</mat-card-title>
      <mat-card-subtitle>{{ Question.qtext }}</mat-card-subtitle>
    </mat-card-header>
    <ng-container [ngSwitch]="Question.qtype">
      <mat-card-content *ngSwitchCase="QuestionTypes.SingleChoice">
        <mat-radio-group (change)="onRadioChange($event)" [disabled]="ShowAnswers" aria-label="Wähle ein Antwort aus"
                         color="primary">
          <mat-radio-button *ngFor="let answer of Question.answers; trackBy: trackByFn"
                            [class.correct]="isAnswerCorrect(answer)"
                            [class.incorrect]="isAnswerIncorrect(answer)"
                            [value]="answer.id"
          >
            <span Md [data]="answer.atext" class="atext"></span>
            <span *ngIf="ShowAnswers && SelectedAnswers.includes(answer.id)"
                  class="feedback">{{ answer.correct ? answer.feedback_correct : answer.feedback_incorrect }}</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-content *ngSwitchCase="QuestionTypes.MultipleChoice" class="multiple-choice">
        <mat-checkbox (change)="onSelectChange($event, answer)"
                      *ngFor="let answer of Question.answers; trackBy: trackByFn"
                      [checked]="this.SelectedAnswers.includes(answer.id)"
                      [class.correct]="isAnswerCorrect(answer)"
                      [class.incorrect]="isAnswerIncorrect(answer)"
                      [disabled]="ShowAnswers"
                      color="primary"
        >
          <span Md [data]="answer.atext" class="atext"></span>
          <span *ngIf="ShowAnswers && SelectedAnswers.includes(answer.id)"
                class="feedback">{{ answer.correct ? answer.feedback_correct : answer.feedback_incorrect }}</span>
        </mat-checkbox>
      </mat-card-content>
    </ng-container>
    <mat-card-actions>
      <button (click)="onShowAnswersClick()" *ngIf="!ShowAnswers" color="primary" mat-raised-button>Lösungen anzeigen
      </button>
      <button (click)="onNextQuestionClick()" *ngIf="ShowAnswers" color="primary" mat-raised-button>nächste Frage
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
