.spinner {
  mat-spinner {
    margin: auto;
  }
}

img {
  max-width: 100%;

  &.hidden {
    display: none;
  }
}

mat-dialog-content.modal-content {
  display: grid;
  overflow: hidden;
  padding: 0;
  grid-template-columns: min-content auto min-content;
  align-items: center;
}
