<p>Diese Datenschutzerklärung dient zur Erfüllung der nach Artikel 13 EU DSGVO geforderten Informationspflicht bei
  Erhebung von Daten zum Zeitpunkt der Erhebung bei betroffenen Personen.</p>
<h5>Name und Anschrift des Verantwortlichen</h5>
<p>Johann Wolfgang Goethe-Universität Frankfurt am Main<br/>
  Theodor-W.-Adorno-Platz 1<br/>
  60323 Frankfurt am Main</p>
<p>Postanschrift:<br/>
  Goethe-Universität Frankfurt am Main<br/>
  60629 Frankfurt<br/>
  Telefon: +49-69-798-0 | Fax: +49-69-798-18383<br/>
  Internet: <a href="http://www.uni-frankfurt.de" target="_blank">www.uni-frankfurt.de</a></p>
<p>Bei Anfragen oder Beschwerden zum Datenschutz können Sie sich mit den Datenschutzbeauftragten der Goethe-Universität
  in Verbindung setzen.</p>

<h5>Kontaktdaten der Datenschutzbeauftragten</h5>
<p>Johann Wolfgang Goethe-Universität Frankfurt am Main<br/>
  Die behördlichen Datenschutzbeauftragten<br/>
  Theodor-W.-Adorno-Platz 1<br/>
  60323 Frankfurt am Main<br/>
  Internet: <a href="http://www.uni‐frankfurt.de/47859992/datenschutzbeauftragte" target="_blank">uni‐frankfurt.de/47859992/datenschutzbeauftragte</a>
</p>
<h5>Rechte und Beschwerdemöglichkeiten</h5>
<p>Sie haben das Recht sich bei datenschutzrechtlichen Problemen bei der zuständigen Fachaufsichtsbehörde zu
  beschweren.</p>
<h5>Kontaktadresse der Fachaufsichtsbehörde der Goethe-Universität Frankfurt am Main:</h5>
<p>Der Hessische Datenschutzbeauftragte<br/>
  Postfach 3163<br/>
  65021 Wiesbaden<br/>
  E-Mail an HDSB (Link zum Kontaktformular des Hessischen Datenschutzbeauftragten: <a
    href="https://datenschutz.hessen.de/über-uns/kontakt"
    target="_blank">datenschutz.hessen.de/über-uns/kontakt</a>)<br/>
  Telefon: +49 611 1408 &#8211; 0<br/>
  Telefax: +49 611 1408 – 611</p>
<p>Sie haben gegenüber der Goethe-Universität folgende Rechte hinsichtlich Ihrer gespeicherten personenbezogenen
  Daten:</p>
<ul>
  <li>Recht auf Auskunft,</li>
  <li>Recht auf Berichtigung oder Löschung,</li>
  <li>Recht auf Einschränkung der Verarbeitung,</li>
  <li>Recht auf Widerruf Ihrer Einwilligung,</li>
  <li>Recht auf Widerspruch gegen die Verarbeitung,</li>
  <li>Recht auf Datenübertragbarkeit, in einer gängigen, strukturierten und maschinenlesbaren Form</li>
</ul>
<p>Zur Geltungsmachung dieser Rechte wenden Sie sich an</p>
<p>Bertram Bühner<br/>
  Zentrum Naturwissenschaften<br/>
  Max-von-Laue-Straße 9 | D-60438 Frankfurt am Main<br/>
  buehner(at)starkerstart.uni-frankfurt.de</p>
<h5>Art der gespeicherten Daten, Zweck und Rechtsgrundlagen, Löschungsfristen</h5>
<h6>Umgang mit personenbezogenen Daten</h6>
<p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine natürliche Person bestimmbar ist, also Angaben, durch
  die Personen identifizierbar sind. Dazu gehören insbesondere Namen, E-Mail-Adressen, Matrikelnummern oder
  Telefonnummern. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder auch Informationen über Webseiten, die
  aufgesucht wurden, zählen zu personenbezogenen Daten.</p>
<p>Personenbezogene Daten werden von uns nur dann erhoben, genutzt und weitergegeben, wenn dies gesetzlich erlaubt ist
  oder die Nutzer in die Datenerhebung einwilligt haben.<br/>
  Die Nutzung personenbezogener Daten von Studierenden zum Zwecke des Studiums basieren weitestgehend auf dem geltenden
  Hessischen Hochschulgesetz in Verbindung mit der geltenden Immatrikulationsverordnung des Landes Hessen und beziehen
  sich somit auf EU DSGVO Artikel 6 Absatz 1 c).</p>
<p>Die Daten der Beschäftigten der Goethe-Universität zum Zwecke der Personalverwaltung, der Lehr-, Forschungs- und
  Prüfungstätigkeiten werden auf Basis des Hessischen Hochschulgesetzes, der Immatrikulationsverordnung des Landes
  Hessen, TV-GU, beamtenrechtliche und personalrechtliche Regelungen erhoben und verarbeitet.</p>

<h6>Zugriffsdaten/Server-Logdateien</h6>
<p>Beim Zugriff auf die Seiten dieses Webservers werden im Allgemeinen folgende Daten in den Server-Logfiles
  gespeichert</p>
<ol>
  <li>IP-Adresse</li>
  <li>Datum und Uhrzeit</li>
  <li>Typ des Client Browsers</li>
  <li>URL der aufgerufenen Seite</li>
  <li>Gegebenenfalls die Fehlermeldung zum aufgetretenen Fehler</li>
  <li>Gegebenenfalls der anfragende Provider</li>
</ol>
<p>Diese Daten dienen ausschließlich zum Zwecke der Kontrolle der Funktionalität, der Sicherheit und Fehlerbehebung.
  Diese Nutzung basiert auf EU DSGVO Artikel 6 Absatz 1 f). Alle Logdateien werden automatisiert nach spätestens 7 Tagen
  gelöscht oder anonymisiert.</p>

<h6>Feedback</h6>
<p>Um mit den Entwicklern dieser App Kontakt aufzunehmen, kann die <em>Feedback-Funktion</em> verwendet werden. Diese
  versendet eine Mail im Namen der angegebenen Mailadresse an die Entwickler und entspricht daher im technischen Sinne
  einer E-Mail. Die generierte Nachricht wird für einen gewissen Zeitraum vom Dienstanbieter des Mailversandes (Mailgun)
  zwischengespeichert und dann automatisch gelöscht.</p>
<p>Die Nachricht wird zur weiteren Berabeitung des Anliegens bei den Entwicklern gespeichert. Dies schließt auch die
  E-Mail-Adresse mit ein.</p>
<h6>Cookies</h6>
<p>Cookies sind kleine Dateien, die es ermöglichen, auf Ihrem Zugriffsgerät (PC, Smartphone o.ä.) spezifische, auf das
  Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten (z.B.
  Speicherung von Logindaten).
  Zum jetzigen Zeitpunkt speichert die GeoMat-App keine Cookies auf Ihrem Gerät.</p>
