@import '../../theme';

$accent: map-get($app-theme, accent);

:host {
  display: block;
  padding: 1rem;
}

.info-link:link,
.info-link:visited {
  color: mat-color($app-primary, 900);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 16px;
}

.solid-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logos {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1400px) {
    justify-content: center;
  }
}
