.spinner {
  mat-spinner {
    margin: auto;
  }
}

img {
  max-width: 100%;

  &.hidden {
    display: none;
  }
}

.content {
  padding: 0;
  align-items: center;

  &.profile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 176px);

    app-profile-detail {
      flex-grow: 1;
      overflow-y: auto;
      width: 100%
    }
  }
}
