@import '../../../../../theme';

.spinner {
  mat-spinner {
    margin: auto;
  }
}

mat-tab-group {
  max-height: calc(100% - 64px);
}

img {
  &.hidden {
    display: none;
  }
}

.content {
  padding: 0;
  align-items: center;

  &.image {
    display: flex;
    height: 100%;

    img {
      max-height: 100%;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.profile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 177px);

    app-profile-detail {
      flex-grow: 1;
      overflow-y: auto;
      width: 100%
    }
  }

  &.description {
    padding: 1rem;
  }
}
