<mat-toolbar color="accent">
  {{ Entry ? Entry.handpiece.name : 'Lade Daten...' }}
  <div class="spacer"></div>
  <ng-container *ngIf="Entry && Entry.audio_file" >
    <span>{{ PlayPosition }}</span>
    <button mat-icon-button (click)="onPlayPauseClick()">
      <mat-icon [matTooltip]="Playing ? 'Audiowiedergabe pausieren' : 'Audiobeschreibung abspielen'">{{ Playing ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <button *ngIf="PlayingStarted" mat-icon-button (click)="onReplayClick()">
      <mat-icon matTooltip="Audiowiedergabe neu starten">replay</mat-icon>
    </button>
  </ng-container>
  <button mat-icon-button (click)="onPrevClick()" [disabled]="Surrounding.before === null">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button (click)="onCloseClick()">
    <mat-icon>expand_less</mat-icon>
  </button>
  <button mat-icon-button (click)="onNextClick()" [disabled]="Surrounding.after === null">
    <mat-icon>navigate_next</mat-icon>
  </button>
</mat-toolbar>
<audio *ngIf="Entry && Entry.audio_file" #audioplayer (timeupdate)="onPlayerTimeUpdate()" (ended)="onPlayerEnded()">
  <source (error)="onPlayerMediaError()" [src]="Entry.audio_file" type="audio/mpeg">
</audio>
<mat-tab-group *ngIf="Entry">
  <mat-tab label="Bild">
    <div class="content image">
      <div class="spinner" *ngIf="!ImageLoaded || !Entry">
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <img *ngIf="Entry"
           alt="Großes Bild des Minerals"
           [src]="Entry.image_file.small"
           (load)="imageLoaded()"
           [class.hidden]="!ImageLoaded"
           srcset="{{ Entry.image_file.small }} 600w,
            {{ Entry.image_file.medium }} 900w,
            {{ Entry.image_file.large }} 1200w"
           sizes="(max-width: 600px) 600px, (max-width: 1000px) 900w, 1200w">
    </div>
  </mat-tab>
  <mat-tab label="Steckbrief">
    <div class="content profile">
      <app-profile-detail [profileId]="Entry.handpiece.mineral_type[0].id"></app-profile-detail>
    </div>
  </mat-tab>
  <mat-tab label="Beschreibung">
    <div class="content description" Md [data]="Entry.description"></div>
  </mat-tab>
</mat-tab-group>
