@import '~@angular/material/theming';
@import "theme";
@import "glossary-theme";
@import "profile-theme";
@import "quiz-theme";
@import "skeleton-theme";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

@include solid-glossary-theme($app-theme);
@include solid-profile-theme($app-theme);
@include solid-quiz-theme($app-theme);
@include solid-skeleton-theme($app-theme);
