@import '~@angular/material/theming';
@import 'glossary-theme';
@import 'skeleton-theme';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-pink);
$app-accent: mat-palette($mat-blue-gray);
//$app-accent: mat-palette($mat-light-blue, A200, A100, A400);

$quiz-correct: mat-palette($mat-green, 400, 200, 600);
$quiz-wrong: mat-palette($mat-red, 400, 200, 600);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
