<mat-card-header>
  <img mat-card-avatar src="assets/icons/icon.svg" />
  <mat-card-title>Archäologie in Scherben</mat-card-title>
  <mat-card-subtitle
    >Tauche ein in die Diversität der Organismen</mat-card-subtitle
  >
  <div class="spacer"></div>
  <button (click)="onCloseClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<mat-card-content>
  <p>
    Keramikgefäße und ihre Scherben bilden die häufigste Fundgattung in der
    Archäologie. Sie helfen bei der zeitlichen Einordnung und liefern
    Informationen über unterschiedliche antike Lebensbereiche.
  </p>
  <p>
    Dieses Selbstlerntool stellt Dir Grundbegriffe der Keramikforschung vor und
    gibt einen Überblick über Keramik aus verschiedenen Epochen und Regionen,
    wie sie am Institut für Archäologische Wissenschaften vertreten sind. In
    kurzen Quizzen kannst Du Deinen Wissensstand überprüfen.
  </p>
</mat-card-content>
