@use '@angular/material' as mat;
@import 'theme';
@import 'core-theme';
@import 'glossary-theme';
@import 'profile-theme';
@import 'quiz-theme';
@import 'skeleton-theme';
@import 'slideshow-theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

@include solid-core-theme($app-theme);
@include solid-glossary-theme($app-theme);
@include solid-profile-theme($app-theme);
@include solid-quiz-theme($app-theme, $quiz-correct, $quiz-incorrect);
@include solid-skeleton-theme($app-theme);
@include solid-slideshow-theme($app-theme);

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h1,h2,h3,h4 {
  font-weight: 500;
}


