<mat-card-header>
  <img mat-card-avatar src="assets/icons/icon.svg" />
  <mat-card-title>Planty-e</mat-card-title>
  <mat-card-subtitle
    >Tauche ein in die Diversität der Organismen</mat-card-subtitle
  >
  <div class="spacer"></div>
  <button (click)="onCloseClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<mat-card-content>
  <p>Herzlich Willkommen bei Planty-e!</p>
  <p>
    Unser Selbstlerntool unterstützt dich beim Bestimmen der Pflanzen aus der
    100-Arten-Liste. Die Steckbriefe geben Dir Hinweise zum Erkennen
    bestimmungsrelevanter Merkmale.<br />Das Tutorial zeigt dir noch einmal
    exemplarisch wie Pflanzen bestimmt werden. Und im Quiz kannst du dein Wissen
    testen.
  </p>
  <p>Wir wünschen dir viel Erfolg beim Bestimmen!</p>
  <p>
    p.s.: Am meisten Spaß hast Du, wenn du Dir die Pflanzen am Wegesrand oder im
    Wissenschaftsgarten am Riedberg <i>in natura</i> anschaust
  </p>
</mat-card-content>
