:host {
  padding: 1em;
  display: block;
}

mat-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

mat-card-content {
  mat-spinner {
    margin-left: auto;
    margin-right: auto;
  }
}

mat-form-field {
  margin-left: .75em;
}

.footnote {
  font-size: smaller;
  font-style: oblique;
  margin: 2em;
}
