<mat-card *ngIf="QuizSession">
  <mat-card-header>
    <mat-card-title>Selbsttest - Auswertung</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Du hast {{ CorrectQuestions }} von {{ QuizSession.questions.length }} Fragen richtig beantwortet!
      Als richtig wurde eine Frage nur dann gezählt, wenn alle richtigen Antworten und keine falschen ausgewählt
      wurden.</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="QuestionCount" placeholder="Anzahl an Fragen"/>
    </mat-form-field>
    <button (click)="onStartClick()" mat-raised-button>Start</button>
  </mat-card-actions>
</mat-card>
