import { SolidSkeletonConfig } from '@zentrumnawi/solid-skeleton';
import { LandingBannerContentComponent } from './components/landing-banner-content/landing-banner-content.component';
import { PrivacyComponent } from './components/privacy/privacy.component';

export const skeletonConfig: SolidSkeletonConfig = {
  landingBannerContent: LandingBannerContentComponent,
  routingConfig: {
    privacy: {
      component: PrivacyComponent
    },
  }
};
