<mat-card-header>
  <img mat-card-avatar src="assets/info/GeoMatAvatar.svg" />
  <mat-card-title>GeoMat<i>DIGITAL</i></mat-card-title>
  <mat-card-subtitle>Mineralbestimmung im digitalen Revier</mat-card-subtitle>
  <div class="spacer"></div>
  <button (click)="onCloseClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<mat-card-content>
  <p>Herzlich Willkommen bei GeoMat<i>digital</i> !</p>
  <p>
    Unsere Tools unterstützen dich beim Bestimmen von Mineralen und dem Lernen
    von Mineraleigenschaften. Klick dich durch und melde dich gerne mit Feedback
    bei uns.
  </p>
  <p>Wir wünschen dir viel Spaß beim Kennenlernen der Minerale!</p>
</mat-card-content>
