<mat-card *ngIf="ShowLanding">
  <mat-card-header>
    <img mat-card-avatar src="assets/info/GeoMatAvatar.svg">
    <mat-card-title>GeoMat<i>DIGITAL</i></mat-card-title>
    <mat-card-subtitle>Mineralbestimmung im digitalen Revier</mat-card-subtitle>
    <div class="spacer"></div>
    <button (click)="onCloseClick()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Herzlich Willkommen bei GeoMat<i>digital</i> !</p>
    <p>Unsere Tools unterstützen dich beim Bestimmen von Mineralen und dem Lernen von Mineraleigenschaften. Klick dich
      durch und melde dich gerne mit Feedback bei uns.</p>
    <p>Wir wünschen dir viel Spaß beim Kennenlernen der Minerale!</p>
  </mat-card-content>
</mat-card>
<h2>Neuigkeiten</h2>
<mat-list>
  <mat-list-item *ngFor="let msg of Messages">
    <h3 matLine>{{msg.title}} <span *ngIf="msg.validFrom">&nbsp;|&nbsp;{{ msg.validFrom | date: 'dd.MM.yyyy'}}</span>
    </h3>
    <span matLine Md [data]="msg.content"></span>
  </mat-list-item>
</mat-list>
<h2>Funktionsübersicht</h2>
<mat-grid-list cols="2" gutterSize="1rem" rowHeight="1:1">
  <mat-grid-tile [routerLink]="['/profile']" class="mat-elevation-z2">
    <mat-icon svgIcon="profile"></mat-icon>
    <span>Steckbriefe</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/profile/img']" class="mat-elevation-z2">
    <mat-icon svgIcon="gallery"></mat-icon>
    <span>Galerie</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/slideshow/determination']" class="mat-elevation-z2">
    <mat-icon svgIcon="assistant"></mat-icon>
    <span>Bestimmungshelfer</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/system']" class="mat-elevation-z2">
    <mat-icon svgIcon="crystalsystem"></mat-icon>
    <span>Kristallsysteme</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/quiz']" class="mat-elevation-z2">
    <mat-icon svgIcon="quiz"></mat-icon>
    <span>Selbsttest</span>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="['/info']" class="mat-elevation-z2">
    <mat-icon svgIcon="info2"></mat-icon>
    <span>Information</span>
  </mat-grid-tile>
</mat-grid-list>

