<div #contentContainer [class.splitLayout]="SplitLayout" class="content-container">
  <ng-container *ngIf="SplitLayout || !SelectedProfile">
    <mat-form-field color="accent">
      <mat-label>Suchen</mat-label>
      <input [formControl]="Filter" matInput type="text"/>
      <mat-icon matSuffix svgIcon="search"></mat-icon>
    </mat-form-field>
    <app-profile-list (onProfileSelect)="selectProfile($event)" *ngIf="Filter.value !== ''; else tree"
                      [profiles]="FilteredProfiles"></app-profile-list>
    <ng-template #tree>
      <app-profile-tree (onProfileSelect)="selectProfile($event)"
                        [selectedProfileId]="SelectedProfileId"></app-profile-tree>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="SelectedProfile">
    <mat-toolbar color="accent">
      {{ SelectedProfile.variety ? SelectedProfile.variety : SelectedProfile.mineralName }}
      <div class="spacer"></div>
      <button (click)="swipeLeft()" [disabled]="!CanSwipeLeft" mat-icon-button>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button (click)="selectProfile()" *ngIf="!SplitLayout" mat-icon-button>
        <mat-icon>expand_less</mat-icon>
      </button>
      <button (click)="swipeRight()" [disabled]="!CanSwipeRight" mat-icon-button>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-toolbar>
    <app-profile-detail (panend)="onPanEnd($event)" [profileId]="SelectedProfile.id"></app-profile-detail>
  </ng-container>
</div>
