:host {
  display: block;
  padding: 0.5rem;
  height: calc(100% - 1rem);
}

div.content-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: 'allContent';

  &.splitLayout {
    grid-template-areas: 'tree profile';
    grid-template-columns: 0.5fr 0.5fr;

    div.profile {
      grid-area: profile;
    }

    div.tree {
      grid-area: tree;
    }
  }

  div.profile,
  div.tree {
    grid-area: allContent;
  }

  height: 100%;
}

