<h1 mat-dialog-title>Gib uns dein Feedback zur App</h1>
<div mat-dialog-content>
  <form [formGroup]="Form">
    <mat-form-field>
      <mat-select placeholder="Art Deiner Nachricht" formControlName="emailTitle">
        <mat-option value="Supportanfrage">Supportanfrage</mat-option>
        <mat-option value="Fehlermeldung">Fehlermeldung</mat-option>
        <mat-option value="Neues Feature">Neues Feature</mat-option>
        <mat-option value="Etwas anderes">Etwas anderes</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput formControlName="emailContent" placeholder="Anmerkungen"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="username" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" formControlName="userEmail" placeholder="Email">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="spacer"></div>
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
  <button mat-button [disabled]="!Form.valid" (click)="onOkClick()">Abschicken</button>
</div>
