@import '../theme';

$background: map-get($app-theme, background);

.app-main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-content {
    //padding: 16px;
    //overflow: hidden;
    height: 100%;
    max-height: 100%;
  }

  mat-sidenav-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  mat-toolbar {
    span {
      padding-left: 16px;
    }

    .app-title-fixed {
      margin-left: 300px;
    }

    .right-border {
      border-right: 1px solid mat-color($background, status-bar);
      width: 300px - 16px;
      height: 64px;
      padding-top: 32px;
    }

    .left-border {
      border-left: 1px solid mat-color($background, status-bar);
      width: 300px - 16px;
      height: 64px;
      padding-top: 32px;
      text-align: right;
    }
  }

  .glossary-sidenav,
  .mainmenu-sidenav {
    width: 300px;
    height: 100%;
  }

  ::ng-deep {
    .mat-drawer-inner-container {
      overflow: hidden;
    }
  }
}
