<div class="app-main-container mat-typography">
  <mat-toolbar color="primary">
    <ng-container *ngIf="FixedLayout">
      <div class="right-border">
        Menü
      </div>
      <span>
        GeoMat
      </span>
      <div class="spacer"></div>
      <div class="left-border">
        Glossar
      </div>
    </ng-container>
    <ng-container *ngIf="!FixedLayout">
      <div class="mainmenu-button">
        <button mat-icon-button (click)="MainMenu.toggle()">
          <mat-icon aria-label="Menü öffnen">menu</mat-icon>
        </button>
      </div>
      <span [class.app-title-fixed]="FixedLayout">GeoMat</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="Glossary.toggle()">
        <mat-icon aria-label="Menü öffnen" svgIcon="glossary"></mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      #mainmenu
      class="mainmenu-sidenav"
      [mode]="FixedLayout ? 'side' : 'over'"
      position="start"
      [fixedInViewport]="!FixedLayout"
    >
      <mat-toolbar (click)="MainMenu.toggle()" *ngIf="!FixedLayout" color="primary">
        Menü
      </mat-toolbar>
      <app-mainmenu (MenuSelect)="onMenuSelectionChanged()"></app-mainmenu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav
      #glossary
      class="glossary-sidenav"
      [mode]="FixedLayout ? 'side' : 'over'"
      [fixedInViewport]="!FixedLayout"
      position="end"
    >
      <mat-toolbar (click)="Glossary.toggle()" *ngIf="!FixedLayout" class="glossary-toolbar" color="primary">
        Glossar
      </mat-toolbar>
      <app-glossary></app-glossary>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
