<mat-nav-list>
  <mat-list-item [class.active]="ActiveUrl === '/'" routerLink="/">
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Startseite</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/profile/img'" routerLink="/profile/img">
    <mat-icon matListIcon>collections</mat-icon>
    <h3 matLine>Galerie</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/determination'" routerLink="/determination">
    <mat-icon matListIcon>collections</mat-icon>
    <h3 matLine>Bestimmungshelfer</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl.startsWith('/profile')" routerLink="/profile">
    <mat-icon matListIcon>collections</mat-icon>
    <h3 matLine>Steckbriefe</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/info'" routerLink="/info">
    <mat-icon matListIcon>info</mat-icon>
    <h3 matLine>Info</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/privacy'" routerLink="/privacy">
    <mat-icon matListIcon>info</mat-icon>
    <h3 matLine>Datenschutzerklärung</h3>
  </mat-list-item>
  <mat-list-item (click)="onFeedbackClick()">
    <mat-icon matListIcon>mail</mat-icon>
    <h3 matLine>Feedback</h3>
  </mat-list-item>
</mat-nav-list>
