<mat-nav-list>
  <mat-list-item [class.active]="ActiveUrl === '/'" (click)="navigateTo('/')">
    <mat-icon matListIcon svgIcon="icon"></mat-icon>
    <h3 matLine>Startseite</h3>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/profile/tree')"
                 [class.active]="ActiveUrl.startsWith('/profile')">
    <mat-icon matListIcon svgIcon="profile"></mat-icon>
    <h3 matLine>Steckbriefe</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/slideshow/determination'"
                 (click)="navigateTo('/slideshow/determination')">
    <mat-icon matListIcon svgIcon="assistant"></mat-icon>
    <h3 matLine>Bestimmungshelfer</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/system'" (click)="navigateTo('/system')">
    <mat-icon matListIcon svgIcon="crystalsystem"></mat-icon>
    <h3 matLine>Kristallsysteme</h3>
  </mat-list-item>
  <mat-list-item (click)="navigateTo('/quiz')" [class.active]="ActiveUrl.startsWith('/quiz')">
    <mat-icon matListIcon svgIcon="quiz"></mat-icon>
    <h3 matLine>Selbsttest</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/info'" (click)="navigateTo('/info')">
    <mat-icon matListIcon svgIcon="info2"></mat-icon>
    <h3 matLine>Info</h3>
  </mat-list-item>
  <mat-list-item [class.active]="ActiveUrl === '/privacy'" (click)="navigateTo('/privacy')">
    <mat-icon matListIcon svgIcon="privacy"></mat-icon>
    <h3 matLine>Datenschutzerklärung</h3>
  </mat-list-item>
  <mat-list-item (click)="onFeedbackClick()">
    <mat-icon matListIcon svgIcon="feedback"></mat-icon>
    <h3 matLine>Feedback</h3>
  </mat-list-item>
</mat-nav-list>
