<h1>Datenschutzerklärung</h1>
<p>
  Diese Datenschutzerklärung dient zur Erfüllung der nach Artikel 13 EU DSGVO
  geforderten Informationspflicht bei Erhebung von Daten zum Zeitpunkt der
  Erhebung bei betroffenen Personen.
</p>
<h3>Datenschutzbeauftragte(r) der Goethe-Universität</h3>

<p class="address">
  Johann Wolfgang Goethe-Universität Frankfurt am Main<br />
  Theodor-W.-Adorno-Platz 1<br />
  60323 Frankfurt am Main<br />

  Postanschrift:<br />
  Goethe-Universität Frankfurt am Main<br />
  60629 Frankfurt<br />
  Telefon: +49-69-798-0 | Fax: +49-69-798-18383<br />
  <a class="info-link" href="mailto:dsb@uni-frankfurt.de">E-Mail</a>
</p>

<h3>Rechte und Beschwerdemöglichkeiten</h3>
<p class="address">
  Der Hessische Datenschutzbeauftragte<br />
  Postfach 3163<br />
  65021 Wiesbaden<br />
  Telefon: +49 611 1408 – 0<br />
  Telefax: +49 611 1408 – 611<br />
  <a
    class="info-link"
    href="http://datenschutz.hessen.de/über-uns/kontakt"
    target="_blank"
    >E-Mail an HDSB (Kontaktformular)</a
  ><br />
</p>
<p>
  Sie haben gegenüber dem Datenschutzbeauftragten der Goethe Universität
  folgende Rechte hinsichtlich Ihrer gespeicherten personenbezogenen Daten:
</p>

<ul>
  <li>Recht auf Auskunft,</li>
  <li>Recht auf Berichtigung oder Löschung,</li>
  <li>Recht auf Einschränkung der Verarbeitung,</li>
  <li>Recht auf Widerruf Ihrer Einwilligung,</li>
  <li>Recht auf Widerspruch gegen die Verarbeitung,</li>
  <li>
    Recht auf Datenübertragbarkeit, in einer gängigen, strukturierten und
    maschinenlesbaren Form (ab dem 25. Mai 2018).
  </li>
</ul>
<p>Zur Geltendmachung Ihrer Rechte wenden Sie sich bitte an:</p>
<p class="address">
  Goethe Universität<br />
  Dr. Lars Dietzel<br />
  Zentrum Naturwissenschaften<br />
  Max-von-Laue Straße 9<br />
  60438 Frankfurt am Main<br />
</p>
<h2>
  Art der gespeicherten Daten, Zweck und Rechtsgrundlagen, Löschungsfristen
</h2>

<h3>Umgang mit personenbezogenen Daten</h3>
<p>
  Personenbezogene Daten sind Informationen, mit deren Hilfe eine natürliche
  Person bestimmbar ist, also Angaben, durch die Personen identifizierbar sind.
</p>
<p>
  Personenbezogene Daten werden von uns nur dann erhoben, genutzt und
  weitergegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die
  Datennutzung einwilligt haben.
</p>
<h3>Datenerfassung</h3>
<h4>Zweck und Dauer der Erfassung</h4>
Wir verarbeiten und speichern Ihre personenbezogenen Daten nur für den Zeitraum,
der zur Erfüllung des Speicherungszweckes erforderlich ist oder sofern dies in
Gesetzen, Satzungen, Ordnungen, Richtlinien oder Vorschriften vorgesehen wurde.
Nach Wegfall oder Erfüllung des Zwecks werden Ihre personenbezogenen Daten
gelöscht bzw. gesperrt. Im Fall der Sperrung erfolgt die Löschung sofern
gesetzliche, satzungsmäßige oder vertragliche Aufbewahrungsfristen dem nicht
entgegenstehen, kein Grund zu der Annahme besteht, dass eine Löschung Ihre
schutzwürdigen Interessen beeinträchtigt und eine Löschung wegen der besonderen
Art der Speicherung keinen unverhältnismäßig hohen Aufwand verursacht.<br />
<h4>Erfasste Daten im Einzelnen</h4>
<ol>
  <li>IP-Adresse</li>
  <li>Datum und Uhrzeit</li>
  <li>Typ des Client Browsers</li>
  <li>URL der aufgerufenen Seite</li>
  <li>Gegebenenfalls die Fehlermeldung zum aufgetretenen Fehler</li>
  <li>Gegebenenfalls der anfragende Provider</li>
</ol>
<p>
  Diese Daten dienen ausschließlich zum Zwecke der Kontrolle der Funktionalität,
  der Sicherheit und Fehlerbehebung. Diese Nutzung basiert auf EU DSGVO Artikel
  6 Absatz 1 f). Alle Logdateien werden automatisiert nach spätestens 7 Tagen
  gelöscht oder anonymisiert.
</p>
<h4>Feedback</h4>
<p>
  Um mit den Entwicklern dieser App Kontakt aufzunehmen, kann die
  Feedback-Funktion verwendet werden. Diese versendet eine Mail im Namen der
  angegebenen Mailadresse an die Entwickler und entspricht daher im technischen
  Sinne einer E-Mail. Die generierte Nachricht wird für einen gewissen Zeitraum
  vom Dienstanbieter des Mailversandes (Mailgun) zwischengespeichert und dann
  automatisch gelöscht. Die Nachricht wird zur weiteren Berabeitung des
  Anliegens bei den Entwicklern gespeichert. Dies schließt auch die
  E-Mail-Adresse mit ein.
</p>
<h4>Cookies</h4>
<p>
  Cookies sind kleine Dateien, die es ermöglichen, auf Ihrem Zugriffsgerät (PC,
  Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu
  speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten (z.B.
  Speicherung von Logindaten). Zum jetzigen Zeitpunkt speichert PLANTY2Learn
  keine Cookies auf Ihrem Gerät.
</p>

<h4>Lokaler Speicher</h4>
<p>
  Planty2Learn nutzt den lokalen Browserspeicher (Local Storage und Session
  Storage), um einige Anzeigeeinstellungen zu speichern. Diese bleiben ggf. auch
  nach Verlassen der Seite erhalten. Hierbei werden keine personenbezogenen
  Daten gespeichert.
</p>

<h4>Sentry (Fehlerüberwachung)</h4>
<p>
  Wir verwenden den Dienst Sentry, um die technische Stabilität unserer App
  durch Überwachung der Systemstabilität und Ermittlung von Codefehlern zu
  verbessern. Sentry dient alleine diesen Zielen und wertet keine Daten zu
  Werbezwecken aus. Die Daten der Nutzer, wie z.B. Angaben zum Gerät oder
  Fehlerzeitpunkt werden anonym erhoben und nicht personenbezogen genutzt sowie
  anschließend gelöscht. Bei Abstürzen ermöglicht Sentry die Eingabe einer
  Fehlerbeschreibung. Die im Absturzbericht eingegebene E-Mail-Adresse wird zur
  weiteren Berabeitung des Anliegens bei den Entwicklern gespeichert.Sentry wird
  lokal auf Rechnern der Goethe-Universität gehostet; es werden keine Daten nach
  außen übertragen.
</p>
