virtual-scroller {
  height: calc(100% - 64px);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

mat-card {
  display: inline-block;
  cursor: pointer;
  margin: 0.5em;
  width: 200px;
  height: 190px;

  mat-card-header {
    ::ng-deep {
      div.mat-card-header-text {
        margin: 0;
      }
    }

    mat-card-title {
      font-size: 16px;
    }

    mat-card-subtitle {
      height: 12px;
      font-size: 12px;
    }
  }

  .spinner {
    width: 200px;

    mat-spinner {
      margin: auto;
    }
  }

  img {
    max-width: 100%;

    &.hidden {
      display: none;
    }
  }height: 190px;
}

:host {
  overflow: hidden;
}

mat-toolbar {
  mat-form-field {
    width: 0;
  }
}

mat-card.no-results-card {
  mat-card-content {
    display: inline-grid;
    height: 100%;
    min-width: 10em;
    grid-template-rows: auto min-content auto;

    span {
      grid-row: 2;
      text-align: center;
    }
  }
}
