<mat-toolbar color="accent">
  <span>Galerie</span>
  <div class="spacer"></div>
  <mat-form-field [@searchInOut]="SearchVisible">
    <input #searchInput (ngModelChange)="onSearchChange($event)" [(ngModel)]="SearchValue" matInput type="text"/>
    <button (click)="SearchValue='';onSearchChange('')" *ngIf="SearchValue" aria-label="Clear" mat-button
            mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button (click)="onSearchToggleClick()" mat-icon-button>
    <mat-icon svgIcon="search"></mat-icon>
  </button>
  <button (click)="toggleSort()" mat-icon-button>
    <mat-icon>{{ SortAscending ? 'clear' : 'sort' }}</mat-icon>
  </button>
</mat-toolbar>
<virtual-scroller #scroll [items]="Entries">
  <mat-card (click)="onCardClick(entry)"
            *ngFor="let entry of scroll.viewPortItems; let i = index; trackBy: entryTrackBy">
    <mat-card-header>
      <mat-card-title>{{ entry.handpiece.name }}</mat-card-title>
      <mat-card-subtitle>{{ entry.handpiece.name === entry.handpiece.mineral_type[0].minerals ? '' : entry.handpiece.mineral_type[0].minerals }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="entry.image_file.small" alt="Bild des Minerals"/>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="Entries.length === 0 && LoadingCompleted" class="no-results-card">
    <mat-card-content>
      <span>Zu <i>{{ SearchValue }}</i> konnten leider keine Ergebnisse gefunden werden.</span>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="Entries.length === 0 && LoadingCompleted" class="no-results-card">-->
    <mat-card-content>
      <span>Zu <i>{{ SearchValue }}</i> konnten leider keine Ergebnisse gefunden werden.</span>
    </mat-card-content>
  </mat-card>
</virtual-scroller>
