<div class="gallery-container">
  <mat-card (click)="onCardClick(entry)" *ngFor="let entry of Entries; let i = index">
    <mat-card-header>
      <mat-card-title>{{ entry.handpiece.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!EntriesLoaded[i]" class="spinner">
        <mat-spinner color="primary"></mat-spinner>
      </div>
      <img (load)="imageLoaded($event, i)" [class.hidden]="!EntriesLoaded[i]" [src]="entry.image_file.small"/>
    </mat-card-content>
  </mat-card>
</div>
