  <mat-horizontal-stepper *ngIf="(Slideshow | async) as slideshow" #stepper labelPosition="bottom" linear="false"
                          (panend)="onPanEnd($event)">
    <mat-step *ngFor="let page of slideshow.pages" [state]="MaxStep >= page.id ? 'done' : ''" [label]="page.title">
      <div class="step-actions">
        <button mat-icon-button color="primary" matStepperPrevious *ngIf="page.id > 1">
          <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
        </button>
        <h1>{{ page.title }}</h1>
        <button (click)="onNextStepClick(page.id + 1)" class="float-right" mat-icon-button color="primary"
                matStepperNext *ngIf="slideshow.pages[slideshow.pages.length - 1].id !== page.id">
          <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
        </button>
      </div>
      <div *ngIf="page.content" Md [data]="page.content"></div>
      <div class="page-images">
        <mat-card *ngFor="let img of page.images">
          <mat-card-header>
            <mat-card-title>{{ img.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img [src]="img.url" [alt]="img.description"/>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
