@import "~@angular/material/theming";

.float-right {
  float: right;
  grid-area: next;
}

.step-actions {
  margin-top: 1em;
  display: grid;
  grid-template-areas: "previous header next";
  grid-template-columns: 40px auto 40px;
  width: 100%;
}

h1 {
  text-align: center;
  grid-area: header;
}

::ng-deep {
  div.mat-horizontal-stepper-header-container {
    display: none;
  }

  .md-rendered {
    ul, li {
      margin-bottom: 0.5em;
      margin-left: 0.5em;
      padding-left: 0.25em;
     }

     ol, li {
      margin-top: 0.5em;
      padding-left: 0.5em;
     }
  }
}

div.page-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  mat-card {
    flex: 1 1 250px;
    min-width: 200px;
    img {
      width: 100%;
      height: 100%;
    }
    margin: 1em;
  }
}
