@use '@angular/material' as mat;

@include mat.core();

@import 'glossary-theme';
@import 'skeleton-theme';
@import 'slideshow-theme';

/* For use in src/lib/core/theming/_palette.scss */
$wabe-primary: (
  50: #edeaf1,
  100: #d1cbdb,
  200: #b3a9c3,
  300: #9486ab,
  400: #7d6c99,
  500: #665287,
  600: #5e4b7f,
  700: #534174,
  800: #49386a,
  900: #382857,
  A100: #bd9fff,
  A200: #9a6cff,
  A400: #7739ff,
  A700: #651fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$wabe-accent: (
  50: #fffefa,
  100: #fffcf2,
  200: #fffbe9,
  300: #fef9e0,
  400: #fef7d9,
  500: #fef6d2,
  600: #fef5cd,
  700: #fef3c7,
  800: #fef2c1,
  900: #fdefb6,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// convenient Tool: http://mcg.mbitson.com/ (use Angular JS (Material 2) output format)

$app-primary: mat.define-palette($wabe-primary, 500);
$app-accent: mat.define-palette($wabe-accent, 500);

$quiz-correct: mat.define-palette(mat.$light-green-palette, 600, 200, 600);
$quiz-incorrect: mat.define-palette(mat.$red-palette, 700, 200, 600);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes) - changed since Angular 15
$app-theme: mat.define-light-theme((
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
));
