<mat-horizontal-stepper #stepper labelPosition="bottom" linear="false" (panend)="onPanEnd($event)">
  <mat-step *ngFor="let step of Steps" [state]="MaxStep >= step.id ? 'done' : ''" [label]="step.title">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious *ngIf="step.id > 1">
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <h1>{{ step.title }}</h1>
      <button (click)="onNextStepClick(step.id + 1)" class="float-right" mat-icon-button color="primary" matStepperNext *ngIf="Steps[Steps.length - 1].id !== step.id">
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <div *ngIf="step.content" Md [data]="step.content"></div>
  </mat-step>
</mat-horizontal-stepper>
