.float-right {
  float: right;
  grid-area: next;
}

.step-actions {
  margin-top: 1em;
  display: grid;
  grid-template-areas: "previous header next";
  grid-template-columns: 40px auto 40px;
  width: 100%;
}

h1 {
  text-align: center;
  grid-area: header;
}

::ng-deep {
  div.mat-horizontal-stepper-header-container {
    display: none;
  }

  .md-rendered {
    li {
        margin-bottom: 0.5em;
     }   
  }
}
