<mat-horizontal-stepper #stepper labelPosition="bottom" linear="false" (panend)="onPanEnd($event)">
  <mat-step [state]="MaxStep >= 1 ? 'done' : ''" label="Abstrakt">
    <div class="step-actions">
      <button (click)="onNextStepClick(1)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Abstrakt</h1>
    <p>Dieser Bestimmungshelfer unterstützt die eindeutige Mineralerkennung und -bestimmung &ndash; und zeigt
      systematisch die Schritte des Bestimmungsvorgangs. Im Folgenden werden dazu verschiedene Erkennungsmerkmale kurz
      erklärt und an Beispielen gezeigt.</p>
    <p>Bei der Mineralbestimmung geht es neben der optischen Beschreibung auch darum, Minerale mit Hilfe des
      Kristallsystems in die entsprechende Systematik einzuordnen und so zu klassifizieren, dass dann auch eine
      Einordnung des Gesteins, in dem die Minerale vorkommen, schneller möglich ist.</p>
    <p>Zur Mineralbestimmung sollte man sich stets an der hier vorgestellten Reihenfolge der Eigenschaften orientieren,
      <b>wobei nicht jedes Erkennungsmerkmal für jedes Mineral charakteristisch ist!</b></p>
  </mat-step>
  <mat-step [state]="MaxStep >= 2 ? 'done' : ''" label="Allgemeines Aussehen">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(2)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Allgemeines Aussehen</h1>
    <div class="cols-2">
      <div>
        <p>Die erste wichtige Beobachtung zur Erkennung von Mineralen ist, ob das unbekannte Mineralhandstück ein <a
          (click)="showGlossaryEntry($event, 'idiomorph')" class="internLink">idiomorpher</a> oder ein <a
          (click)="showGlossaryEntry($event, 'xenomorph')" class="internLink">xenomorpher</a> Kristall ist. Einen <i>idiomorphen</i>
          Kristall erkennt man an den perfekten Kristallflächen, die er nur ausbilden kann, wenn er frei gewachsen ist.
          Wenn sein Wachstum aber eingeschränkt war (z.B. von anderen Mineralen), konnten sich die Kristallflächen nicht
          eindeutig ausbilden und der Kristall wird als <i>xenomorph</i> bezeichnet. Der Übergang zwischen diesen beiden
          Formen wird <a (click)="showGlossaryEntry($event, 'hypidiomorph')" class="internLink">hypidiomorph</a> genannt
          und liegt vor, wenn ein Kristall teilweise idiomorph und teilweise xenomorph gewachsen ist.</p>
      </div>
      <div>
        <p>Wenn es sich um einen <b>idiomorphen</b> Kristall handelt, kann man über die äußere Form meist die <a
          (click)="showGlossaryEntry($event, 'tracht')" class="internLink">Tracht</a>, den <a
          (click)="showGlossaryEntry($event, 'habitus')"
          class="internLink">Habitus</a>
          und das <a (click)="showGlossaryEntry($event, 'kristallsystem')" class="internLink">Kristallsystem</a>
          bestimmen.<br>Wenn es sich um einen <b>hypidiomorphen</b> Kristall handelt, kann man gegebenenfalls über die
          äußere Form die Tracht, den Habitus und das Kristallsystem bestimmen.<br>Wenn es sich um einen
          <b>xenomorphen</b> Kristall handelt ist dies leider nicht möglich. Das nächste Erkennungsmerkmal ist in diesem
          Fall der spezifische <a (click)="showGlossaryEntry($event, 'bruch')" class="internLink">Bruch</a> des
          Minerals.</p>
      </div>
      <app-image-card heading="Idiomorphes Äußeres (Spinelloktaeder)"
                      src="assets/determination/idiomorphes_aeusseres.jpg"></app-image-card>
      <app-image-card heading="Xenomorphes Äußeres (Labradorit im Gestein)"
                      src="assets/determination/xenomorphes_aeusseres.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 3 ? 'done' : ''" label="Kristallsystem">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(3)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Kristallsystem</h1>
    <p>
      Bei einem <b>idiomorphem</b> Kristall ist an der Ausbildung der Flächen zueinander schnell das <a
      (click)="showGlossaryEntry($event, 'kristallsystem')" class="internLink">Kristallsystem</a> erkennbar. Durch
      Suchen und Finden verschiedener <a (click)="showGlossaryEntry($event, 'symmetrieoperation')" class="internLink">Symmetrieoperationen</a>
      in den definierten kristallographischen Richtungen und durch die Betrachtung des Habitus können die 7
      verschiedenen Kristallsysteme unterschieden werden.<br>Das <b>kubische</b> Kristallsystem hat drei gleich lange
      Achsen a = b = c und drei gleich große Winkel (&alpha; = &beta; = &gamma; = 90&deg;). Die Blickrichtungen sind:
      &lt;100&gt; &lt;110&gt; &lt;111&gt;<br>
      Entlang der 3. Blickrichtung ist im Kubischen immer eine dreizählige Rotationsachse zu finden.
    </p>
    <div class="cols-2">
      <app-image-card heading="Kubisches Kristallsystem (Pyrit)"
                      src="assets/determination/kubisches_kristallsystem.jpg"></app-image-card>
      <app-image-card heading="Trigonales Kristallsystem (Korund)"
                      src="assets/determination/trigonales_kristallsystem.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 4 ? 'done' : ''" label="Habitus">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(4)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Habitus</h1>
    <p>Der <a (click)="showGlossaryEntry($event, 'habitus')" class="internLink">Habitus</a> beschreibt das
      Größenverhältnis der verschiedenen Kristallflächen eines Kristalls zueinander. Der Habitus kann innerhalb einer
      Mineralart stark variieren.<br>Das kubische Kristallsystem beispielsweise weist stets einen <i>isometrischen</i>
      Habitus auf, da die Achsen alle gleich lang sind. Das tetragonale Kristallsystem zeigt hingegen einen <i>stängeligen</i>,
      <i>tafeligen</i> oder <i>prismatischen</i> Habitus, da eine Achse länger ist (a = b &ne; c).
    </p>
    <div class="cols-2">
      <app-image-card heading="Isometrischer Habitus (Grossular, Granat)"
                      src="assets/determination/isometrischer_habitus.jpg"></app-image-card>
      <app-image-card heading="Prismatischer Habitus (Bergkristall)"
                      src="assets/determination/prismatischer_habitus.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 5 ? 'done' : ''" label="Tracht">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(5)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Tracht</h1>
    <p>Die <a (click)="showGlossaryEntry($event, 'tracht')" class="internLink">Tracht</a> beschreibt die Gesamtheit der
      ausgebildeten Flächen eines Kristalls, also die Kombination der einzelnen Kristallflächen zueinander. Sie stellt
      einen gewissen Gegensatz zum Habitus dar, welcher die Größenverhältnisse beschreibt. Tracht und Habitus zusammen
      bilden die Kristallgestalt.</p>
  </mat-step>
  <mat-step [state]="MaxStep >= 6 ? 'done' : ''" label="Bruch">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(6)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Bruch</h1>
    <p>Der <a (click)="showGlossaryEntry($event, 'bruch')" class="internLink">Bruch</a> ist ein wichtiges Merkmal von
      Mineralen und ist klar von der <a (click)="showGlossaryEntry($event, 'spaltbarkeit')" class="internLink">Spaltbarkeit</a>
      zu trennen! Während die Spaltbarkeit einer kristallographischen Richtung folgt, folgt der Bruch <b>keiner</b>
      kristallographischen Richtung. Es können folgende Brucharten unterschieden werden:
      <mat-list>
        <mat-list-item>muschelig</mat-list-item>
        <mat-list-item>uneben</mat-list-item>
        <mat-list-item>glatt</mat-list-item>
        <mat-list-item>hakig (bzw. hakig-biegsam)</mat-list-item>
        <mat-list-item>glimmerartig</mat-list-item>
        <mat-list-item>splittrig (selten auch faserig und erdig)</mat-list-item>
      </mat-list>
    </p>
    <p>
      An idiomorphen Kristallen ist meist kein Bruch zu erkennen, da die idiomorphen Kristallflächen den Bruch nur
      zeigen, wenn sie beschädigt sind.
    </p>
    <app-image-card heading="Muscheliger Bruch (Olivin)"
                    src="assets/determination/muscheliger_bruch.jpg"></app-image-card>
  </mat-step>
  <mat-step [state]="MaxStep >= 7 ? 'done' : ''" label="Spaltbarkeit">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(7)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Spaltbarkeit</h1>
    <p>Um die <a (click)="showGlossaryEntry($event, 'spaltbarkeit')" class="internLink">Spaltbarkeit</a> zu untersuchen
      ist es wichtig, deutliche Spaltwinkel oder -formen am Mineralhandstück zu entdecken. Da diese nicht in allen
      Handstücken deutlich zu sehen sind, ist es auch wichtig, die vorhandenen idiomorph ausgebildeten Flächen im
      Verhältnis zu anderen idiomorph ausgebildeten Flächen zu untersuchen und die Winkel zwischen den Flächen
      festzustellen. Durch die unterschiedlichen Spaltwinkel lassen sich Minerale meist gut unterscheiden, wie zum
      Beispiel Amphibole (120°-Winkel) und Pyroxene (90°-Winkel).<br>Allein durch die Betrachtung der äußeren Form und
      des Verwitterungsverhaltens des Minerals kann man gute bis sehr vollkommene Spaltbarkeit erkennen, da diese
      Minerale stets in typischen Formen verwittern, die das Kristallsystem zeigen, wie beispielsweise Calcit, der
      typische Spaltrhomboeder aufweist.
    <div class="cols-2">
      <app-image-card heading="Sehr vollkommene Spaltbarkeit (Phlogopit)"
                      src="assets/determination/spaltbarkeit.jpg"></app-image-card>
      <app-image-card heading="Vollkommene Spaltbarkeit (Calcit)"
                      src="assets/determination/spaltbarkeit2.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 8 ? 'done' : ''" label="Glanz">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(8)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Glanz</h1>
    <p>Um den <a (click)="showGlossaryEntry($event, 'glanz')" class="internLink">Glanz</a> zu erkennen, sollte man die
      Kristallflächen des Mineralhandstückes in möglichst hellem Licht (am besten eignet sich direktes Sonnenlicht)
      betrachten. Je nach Intensität des Glanzes, also der Intensität der Reflexion des Lichtes, wird der Glanz in
      folgende Arten unterschieden:
    </p>
    <mat-list>
      <mat-list-item>
        <h3 class="gloss" matLine>Glasglanz</h3>
        <p matLine>- entspricht dem Glanz von einfachem Fensterglas.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Fettglanz</h3>
        <p matLine>- erinnert an schimmernde Fettflecken auf Pergamentpapier.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Diamantglanz</h3>
        <p matLine>- ist der strahlende Glanz, den man von geschliffenem Diamant und Bleikristallglas kennt.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Metallglanz</h3>
        <p matLine>- entspricht dem Glanz von poliertem Metall.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Pechglanz</h3>
        <p matLine>- haben z.B. die frisch zerschlagenen Teerbrocken.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Harzglanz</h3>
        <p matLine>- erinnert an Harz beziehungsweise den Glanz von Kerzenwachs.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Perlmuttglanz</h3>
        <p matLine>- erinnert an die Innenseite von Muschelschalen (Perlmutt), die einen weißlichen Schimmer mit
          farbigem Lichtschein zeigen.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Seidenglanz</h3>
        <p matLine>- weisen Minerale auf, die einen wogenden Lichtschein zeigen, wie er bei Seide zu beobachten
          ist.</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Mattglanz</h3>
        <p matLine>- hat ein Mineral, das fast oder gar keinen Glanz aufweist.</p>
      </mat-list-item>
    </mat-list>
    <div class="cols-2">
      <app-image-card heading="Metallglanz (Markasit)"
                      src="assets/determination/metall_glanz.jpg"></app-image-card>
      <app-image-card heading="Glasglanz (Bergkristall)"
                      src="assets/determination/glas_glanz.jpg"></app-image-card>
      <app-image-card heading="Perlmuttglanz (Biotit)"
                      src="assets/determination/perlmut_glanz.jpg"></app-image-card>
      <app-image-card heading="Stumpf-erdiger Glanz (Kaolinit)"
                      src="assets/determination/stumpf-erdiger_glanz.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 9 ? 'done' : ''" label="Farbe">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(9)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Farbe</h1>
    <p>Die Farbe ist bei den meisten Mineralen <b>kein diagnostisches Merkmal</b> zur Bestimmung. Sie dient aber oft
      dazu, verschiedene Varietäten wie z.B. beim Beryll (Aquamarin = blau, Smaragd = grün) voneinander zu
      unterscheiden. Seltene starke Farben können einen gewissen Wiedererkennungscharakter haben.</p>
    <div class="cols-2">
      <app-image-card heading="Intensives Blau (Sodalith)"
                      src="assets/determination/farbe1.jpg"></app-image-card>
      <app-image-card heading="Intensives Grün (Olivin)"
                      src="assets/determination/farbe2.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 10 ? 'done' : ''" label="Transparenz">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
      <button (click)="onNextStepClick(9)" class="float-right" mat-icon-button color="primary" matStepperNext>
        <mat-icon aria-label="Nächster Schritt">navigate_next</mat-icon>
      </button>
    </div>
    <h1>Transparenz</h1>
    <p>Die <a (click)="showGlossaryEntry($event, 'transparenz')" class="internLink">Transparenz</a>
      unterscheidet sich in <b>durchsichtig</b>, <b>durchlässig</b>, <b>undurchlässig</b> und <b>opak</b>. Mit ihr kann
      man viele verschiedene Tendenzen und Variationen in Mineralen unterscheiden, dennoch ist auch die Transparenz
      meist kein eindeutiges Merkmal, da sie von vielen Parametern wie z.B. der Dicke des Mineralhandstücks anhängig
      ist.</p>
    <div class="cols-2">
      <app-image-card heading="Durchsichtig (Topas)"
                      src="assets/determination/transparent.jpg"></app-image-card>
      <app-image-card heading="Opak (Augit)"
                      src="assets/determination/opak.jpg"></app-image-card>
    </div>
  </mat-step>
  <mat-step [state]="MaxStep >= 11 ? 'done' : ''" label="Besonderheiten">
    <div class="step-actions">
      <button mat-icon-button color="primary" matStepperPrevious>
        <mat-icon aria-label="Vorheriger Schritt">navigate_before</mat-icon>
      </button>
    </div>
    <h1>Besonderheiten</h1>
    <p>Als letztes können noch mineralspezifische Besonderheiten untersucht werden:</p>
    <mat-list>
      <mat-list-item>
        <h3 class="gloss" matLine>Pleochroismus:</h3>
        <p matLine>Weist das Mineral Pleochroismus auf?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Spezifisches Gewicht:</h3>
        <p matLine>Ist das Mineral ungewöhnlich schwer/leicht?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Magnetismus:</h3>
        <p matLine>Ist das Mineral magnetisch?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Phantomausbildung:</h3>
        <p matLine>Treten besondere Verzwillingungserscheinungen auf?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Verwachsungen:</h3>
        <p matLine>Weist das Mineral Phantome auf?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Einschlüsse:</h3>
        <p matLine>Ist das Mineral mit einem Anderen verwachsen?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Zonarbau:</h3>
        <p matLine>Zeigt das Mineral viele oder besondere Einschlüsse?</p>
      </mat-list-item>
      <mat-list-item>
        <h3 class="gloss" matLine>Weiteres:</h3>
        <p matLine>Treten andere Besonderheiten auf?</p>
      </mat-list-item>

    </mat-list>
    <div class="cols-2">
      <app-image-card heading="Durchkreuzungszwilling (Staurolith)"
                      src="assets/determination/durchkreuzungszwillinge.jpg"></app-image-card>
      <app-image-card heading="Paragenese (Chlorit auf Quarz)"
                      src="assets/determination/paragenese.jpg"></app-image-card>
    </div>
  </mat-step>
</mat-horizontal-stepper>
