@import '../../theme';

:host {
  display: block;
  padding: 1rem;
}

.info-link:link,
.info-link:visited {
  color: mat-color($app-primary);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 16px;
}
