@use '@angular/material' as mat;
@import '../../theme';

:host {
  display: block;
  padding: 1rem;
}



p {
  font-size: 14px;
}

.info-link:link,
.info-link:visited {
  color: mat.get-color-from-palette($app-primary);
}
