<mat-toolbar color="accent">
  <span>Kristallsysteme</span>
  <div class="spacer"></div>
  <button (click)="onToggleSolidClick()" *ngIf="ShowInPreview" mat-icon-button matTooltip="Toggle solid">
    <mat-icon>check_box_outline_blank</mat-icon>
  </button>
  <button mat-icon-button (click)="onToggleAxisClick()" matTooltip="Toggle axis">
    <mat-icon>merge_type</mat-icon>
  </button>
  <button (click)="onTogglePointsClick()" *ngIf="ShowInPreview" mat-icon-button matTooltip="Toggle points">
    <mat-icon>apps</mat-icon>
  </button>
  <button (click)="onTogglePerspectiveClick()" *ngIf="ShowInPreview" mat-icon-button matTooltip="Toggle perspective">
    <mat-icon>control_camera</mat-icon>
  </button>
  <mat-select placeholder="Ebene" [ngModel]="Layer" (ngModelChange)="onLayerSelectChange($event)" matTooltip="Ebene">
    <mat-option *ngFor="let layer of SelectedConfig.layers" [value]="layer.name"><span Md [data]="layer.title"></span>
    </mat-option>
  </mat-select>
  <button (click)="onInfoClick()" *ngIf="ShowInPreview" mat-icon-button matTooltip="Legende">
    <mat-icon>help</mat-icon>
  </button>
  <mat-select placeholder="Modell" [ngModel]="Model" (ngModelChange)="onModelSelectChange($event)" matTooltip="Modell">
    <mat-option *ngFor="let config of Configs" [value]="config.name">{{ config.displayName }}</mat-option>
  </mat-select>
</mat-toolbar>
<iframe #iframe src="/assets/crystalsystem/iframe.html"></iframe>
<div class="model-info">
  <h3>{{ SelectedConfig.displayName }}</h3>
  <p Md [data]="SelectedConfig.description"></p>
</div>
