<mat-card-header>
  <img mat-card-avatar src="assets/icons/icon.svg" />
  <mat-card-title>DIVE</mat-card-title>
  <mat-card-subtitle>Irgendwas mit Pflanzen ;)</mat-card-subtitle>
  <div class="spacer"></div>
  <button (click)="onCloseClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<mat-card-content>
  <p>Herzlich Willkommen bei DIVE!</p>
  <p>
    Unsere Tools unterstützen dich beim Gedöns mit Pflanzen. Dieser Text sollte
    noch optimiert werden.
  </p>
  <p>Wir wünschen dir viel Spaß beim Kennenlernen der lebenden Steine!</p>
</mat-card-content>
