<!--suppress ALL -->
<h1>Über die App</h1>
<p>Version: {{ Version.semver.version }}</p>
<h1>Über uns</h1>
<p>Die Entwicklung der GeoMat-App wurde mit Hilfe des <a href="https://elearning.physik.uni-frankfurt.de/"
                                                         target="_blank">eLearning-Förderfonds</a> der Universität
  Frankfurt am Zentrum Naturwissenschaften und am Fachbereich 11 realisiert.</p>
<img src="assets/info/eLF_80.png" alt="eLearning-Förderfonds Logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
  src="assets/info/StarkerStart2_80.png" alt="StarkerStart Logo">
<p>Hosting durch <a href="https://elearning.physik.uni-frankfurt.de/" target="_blank">Physik-Online</a>.</p>
<img src="assets/info/PhysikOnline_80.png" alt="Physik-Online Logo">
<p>&nbsp;</p>
<p>Für Rückmeldungen nutzen Sie bitte das Feedback-Formular.</p>
<button mat-button routerLink="/privacy">Datenschutzerklärung</button>
