<!--suppress ALL -->
<h2>Über die App</h2>
<p>Version: {{ Version }}</p>
<p>Die App GeoMat<em>digital</em> wird zum Wintersemester 2019/2020 in einer vollständig überarbeiteten Version veröffentlicht.</p>
<p>Das Entwicklerteam ist dankbar über alle Hinweise zur Verbesserung, die über das <a class="info-link" (click)=onFeedbackClick()>Feedback-Formular</a> jederzeit eingereicht werden können.</p>

<h2>Über das Team</h2>
<p>Die App wurde und wird am <a class="info-link" href="http://www.starkerstart.uni-frankfurt.de/38922940/ZNWK" target="_blank">Zentrum Naturwissenschaften</a> der <a class="info-link" href="http://www.uni-frankfurt.de">Goethe-Universität Frankfurt</a> von einem größtenteils studentischen Team entwickelt.</p>
<p>Von den Fotos der virtuellen Sammlung über die Gestaltung der Fachinhalte bis hin zur Programmierung war der Einsatz von Studierenden und studentischen Hilfskräften maßgeblich.</p>

<h2>Ziele der App</h2>
<p>Die <em>Lernanwendung</em> GeoMat<em>digital</em> ist als Lernanwendung an die Lehrveranstaltung <em>Geomaterialien</em> am Institut für Geowissenschaften der Goethe-Universität angeschlossen.</p>
<p>Das wesentliche Ziel dieser Lernanwendung liegt darin, die Mineralansprache und den Bestimmungsvorgang zu trainieren.
  Außerdem eignet sich die <em>virtuelle Sammlung</em> von GeoMat <em>digital</em> zum Lernen der Mineraleigenschaften.</p>

<h2>Credits</h2>
   
<p>Die Entwicklung der App wurde durch den <a class="info-link" href="http://tinygu.de/elf" target="_blank">eLearning-Förderfonds</a> der Universität
  Frankfurt am Zentrum Naturwissenschaften in Zusammenarbeit mit dem <a class="info-link" href="http://tinygu.de/ifg" target="_blank">Institut für Geowissenschaften</a> am Fachbereich Geowissenschaften/Geographie realisiert.</p>
  <p>Die Server werden freundlicherweise zur Verfügung gestellt von der studentischen Gruppe <a class="info-link" href="https://physikonline.uni-frankfurt.de/portal" target="_blank">Physik Online</a>.</p>
<img src="assets/info/eLF.svg" alt="eLearning-Förderfonds Logo">
&nbsp;
<img src="assets/info/ZentrumNaWi.svg" alt="Zentrum Naturwissenschaften Logo">
&nbsp;
<img src="assets/info/StarkerStart.svg" alt="StarkerStart Logo">
&nbsp;
<img src="assets/info/BMBF.svg" alt="BMBF Logo">
&nbsp;
<img src="assets/info/PhysikOnline.svg" alt="Physik-Online Logo">


<hr>
<p>Für Rückmeldungen nutzen Sie bitte das <a class="info-link" (click)=onFeedbackClick()>Feedback-Formular</a>.</p>
<a class="info-link" href="/privacy">Datenschutzerklärung</a>
