<mat-card-header>
  <img mat-card-avatar src="assets/icons/icon.svg" />
  <mat-card-title>WortArBEit</mat-card-title>
  <mat-card-subtitle>Ein mediävistisches Selbstlerntool</mat-card-subtitle>
  <div class="spacer"></div>
  <button (click)="onCloseClick()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-card-header>
<mat-card-content>
  <p>
    Herzlich Willkommen bei WABE, dem Selbstlerntool zur systematischen
    Aneignung eines mittelhochdeutschen Grundwortschatzes der Goethe-Universität
    Frankfurt. Unser Tool bietet Ihnen die Möglichkeit, sich mit der
    mittelhochdeutschen Sprache und ihrer Grammatik vertraut zu machen. Mit WABE
    können Sie die Bedeutung der wichtigsten mittelhochdeutschen Begriffe
    nachschlagen, grammatikalische Phänomene lernen und Ihren Wissensstand in
    Selbsttests überprüfen.
  </p>
  <p>Viel Spaß bei Ihrer sprachlichen Reise ins Mittelalter!</p>
</mat-card-content>
